@charset "utf-8";
.register-layer{position: fixed;top:0;left:0; width:100%;height: 100%;background: rgba(0,0,0,.1);z-index:99999;}

/*创建账号结果*/
.count-result{width:auto;height: auto;margin-top:15.9rem;}
.count-result img{display: block;max-width: 4.5rem;max-height: 4.5rem;margin:0 auto;}
.count-result p{text-align: center;margin-top: 0.9rem;font-size:1.3rem;color:#999;}